header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--font2);
  font-size: 7vw;
}

header > p {
  padding-bottom: 50px;
}
