section {
  padding: 10vh 0px 10vh 30px;
  line-height: 2em;
  font-family: var(--font3);
  font-size: 2.7vw;
}

section.normal {
  background-color: white;
  color: rgb(9, 9, 9);
}

section > p {
  padding-bottom: 1em;
  padding: 15px;
  border: wheat solid;
}

section > p.sep-1 {
  margin-bottom: 1.5em;
}

section.imagem {
  background-color: rgb(29, 29, 29);
  color: white;
}

section.imagem > p {
  background-color: rgba(0, 0, 0, 0.6);
}

section#img01{
  background-image: url(../images/background001.jpg);
}
section#img02{
  background-image: url(../images/background002.jpg);
}
