section {
  padding: 10vh 0px 10vh 30px;
  line-height: 2em;
  font-family: var(--font3);
  font-size: 2.7vw;
}

section.normal {
  background-color: white;
  color: rgb(9, 9, 9);
}

section > p {
  padding-bottom: 1em;
  padding: 15px;
}

section > p.sep-1 {
  margin-bottom: 1.5em;
}

section.imagem {
  background-color: rgb(29, 29, 29);
  color: white;
  box-shadow: inset 0px 7px 13px rgba(0, 0, 0, 0.466);
  background-attachment: fixed;
}

section.imagem > p {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

section#img01{
  background-image: url(../images/background001.jpg);
  background-position: right center;
  background-size: cover;
}
section#img02{
  background-image: url(../images/background002.jpg);
  background-position: right center;
  background-size: cover;
}
