/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

/* imports Css */
@charset "UTF-8";
@import url(header.css);
@import url(section.css);
@import url(footer.css);

:root {
  --font1: Verdana, Geneva, Tahoma, sans-serif;
  --font2:  'Passion One', cursive;
  --font3: 'Sriracha', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: darkgray;
  min-height: 100vh;
  font-family: var(--font1)
}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}