@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: darkgray;
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
}

header > p {
  padding-bottom: 50px;

}

a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}